body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #222;
    font-family: 'Tinos', serif;
    font-size: 120%;
    background-image: url("Screenshot\ \(343\).png");
}

.card {FONT-WEIGHT: 100;
    background: black;
    color:white; 
    
    padding: 2em;
    width: 100%;
    border-radius: 30px;
    max-width: 420px;
    margin: 2em;
}
.search{
    display:flex;
    align-items: center;
    justify-content: center;
}
button {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 46px;
    width: 46px;
    outline: none;
    background: #d3d3d3;
    color: rebeccapurple;
    cursor: pointer;
    transition: 1s ease-in-out;
}

input.search-bar {
    border: none;
    padding: .5em;
    border-radius: 24px;
    background:  #d3d3d3;
    color: black;
    font-family: inherit;
    font-size: 120%;
    width: calc(100% - 100px);
}

button:hover {
    background: blue;
}   

h1.temp{
    margin: 0;
    margin-bottom: 0.5em;
}
.flex {
    display: flex;
    align-items: center;
}
.description {
    text-transform: capitalize;
    margin-left: 10px;
    margin-left: 8px;
}

